.MessageList__messageBox{data: {message: {id: message.id}}}
  .MessageList__name
    %p
      =message.user.name
    .MessageList__date
      =message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  - if message.body.present?
    %p.MessageList__message
      = message.body
  = image_tag message.image.url, class: 'Message__image' if message.image.present?
